@page "/components/radiogroup"
@page "/components/radiogroup/overview"
@layout ComponentDemoLayout

<PageSection Title="Overview">
    <DemoSection Title="Basic Usage" Description="RadioGroup manages a set of mutually exclusive radio options." Code="@_basicCode">
        <div class="demo-row">
            <SunfishRadioGroup @bind-Value="_selected">
                <SunfishRadio Value="@("option1")">Option 1</SunfishRadio>
                <SunfishRadio Value="@("option2")">Option 2</SunfishRadio>
                <SunfishRadio Value="@("option3")">Option 3</SunfishRadio>
            </SunfishRadioGroup>
            <span>Selected: @_selected</span>
        </div>
    </DemoSection>
</PageSection>

@code {
    private string? _selected = "option1";

    private const string _basicCode =
        "<SunfishRadioGroup @bind-Value=\"_selected\">\n" +
        "    <SunfishRadio Value=\"@(\"option1\")\">Option 1</SunfishRadio>\n" +
        "    <SunfishRadio Value=\"@(\"option2\")\">Option 2</SunfishRadio>\n" +
        "    <SunfishRadio Value=\"@(\"option3\")\">Option 3</SunfishRadio>\n" +
        "</SunfishRadioGroup>";
}
